/* @mixin background {
  @if show-home-image {
    &#bg-image {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
      height: 100%;
      background-repeat: no-repeat;
      position: relative;

        &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba($primary-color, $background-opacity);
        z-index: -1;
      } //this enables and overlay over the image
    }
  }
} */
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.2s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    transition: all 0.2s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:first-child {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu .menu-branding,
  .menu .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu .menu-nav {
    margin: 0;
    padding: 0;
    background: #fff;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.2s ease-out; }
    .menu .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu .menu-branding {
    background: url(../img/bgimage4.jpeg);
    transition: all 0.2s ease-out;
    transform: translate3d(0, 100%, 0); }
    .menu .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu .menu-branding .portrait {
      width: 250px;
      height: 250px;
      background: url(../img/portrait.png);
      background-position: center;
      border-radius: 50%;
      border: solid 3px #fff;
      z-index: 5;
      opacity: 1; }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.2s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current a {
      color: #5fb3b6; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    padding: 1rem;
    color: #000;
    transition: all 0.2s ease-out; }
    .menu .nav-link:hover {
      color: #5fb3b6; }

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #98a9b5;
  color: #000;
  height: 60px; }

.nav-item:nth-child(1) {
  transition-delay: 0.05s; }

.nav-item:nth-child(2) {
  transition-delay: 0.1s; }

.nav-item:nth-child(3) {
  transition-delay: 0.15s; }

.nav-item:nth-child(4) {
  transition-delay: 0.2s; }

* {
  box-sizing: border-box; }

body {
  background: #b6c2ca;
  color: #333;
  height: 100%;
  margin: 0;
  font-family: "M PLUS Rounded 1c", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }

main h1,
main h2,
main h3 {
  margin: 0;
  font-weight: 100; }
  main h1.lg-heading,
  main h2.lg-heading,
  main h3.lg-heading {
    font-size: 6rem; }
  main h1.sm-heading,
  main h2.sm-heading,
  main h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(188, 199, 206, 0.5); }

a {
  color: #fff;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: #fff; }

main {
  padding: 4rem;
  min-height: calc(100vh - 60px); }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a:hover {
        color: #5fb3b6;
        transition: all 0.2s ease-out; }

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "bioimage bio bio" "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr); }
  .about-info .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: #fff 3px solid; }
  .about-info .bio {
    grid-area: bio;
    font-size: 1.5rem; }
  .about-info .job-1 {
    grid-area: job1; }
  .about-info .job-2 {
    grid-area: job2; }
  .about-info .job-3 {
    grid-area: job3; }
  .about-info .job {
    background: #f1f3f5;
    padding: 0.5rem;
    border-bottom: #333 5px solid; }
  .about-info h4 {
    font-weight: 100; }

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem; }
  .boxes div {
    font-size: 1rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    margin-top: 5rem;
    transition: all 0.2s ease-out; }
    .boxes div:hover {
      background: #5fb3b6;
      color: #000; }
      .boxes div:hover span {
        color: #000; }

.btn, .btn-dark, .btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem; }
  .btn:hover, .btn-dark:hover, .btn-light:hover {
    background: #5fb3b6;
    color: #000; }

.btn-dark {
  background: #36434b;
  color: #fff; }

.btn-light {
  background: white;
  color: #333; }

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #98a9b5;
  color: #000;
  height: 60px; }

@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(4, 1fr); } }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: repeat(3, 1fr); } }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      background: none;
      color: #000; }
    main .sm-heading {
      display: none; }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .portrait {
      background: url("../img/portrait_small.jpg");
      width: 150px;
      height: 150px; }
  .about-info {
    grid-template-areas: "bioimage" "bio" "job1" "job2" "job3";
    grid-template-columns: 1fr; }
  .projects {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 500px) {
  main {
    padding: 2rem; }
    main #home h1 {
      margin-top: 10vh; }
    main .lg-heading {
      margin-top: 1rem;
      font-size: 5rem; }
  .projects {
    grid-template-columns: 1fr; } }
