@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background();
  background: $primary-color;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: "Helvetica", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

//Headings
main h1,
main h2,
main h3 {
  margin: 0;
  font-weight: 100;
  background: rgba(lighten($color: #486470, $amount: 0.1), 0.7);
  padding-left: 0.5em;

  &.lg-heading {
    font-size: 6rem;
    width: 50%;
    //border-top-left-radius: 25px;
    //border-top-right-radius: 25px;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem;
    /* background: rgba(
      lighten($color: #fff, $amount: 0.1),
      0.4
    ); */ //rgba makes it so that the background won't block the image
    width: 50%;
    margin: 0;
    color: #fff;
    text-align: center;
    padding-bottom: 1em;
    //border-bottom-left-radius: 25px;
    //border-bottom-right-radius: 25px;
  }
}

section h2 {
  padding: 0;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: $secondary-color;
}

header {
  position: fixed;
  z-index: 2; //how close an object is to the viewer
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  height: 100%;

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:first-child:hover {
        color: #3b5998;
        @include easeOut();
      }

      &:nth-child(2):hover {
        color: #0077b5;
        @include easeOut();
      }

      &:nth-child(3):hover {
        color: #000;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;

    h1 {
      margin-top: 20vh;
    }
  }
}

.pimg2,
.pimg3 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.pimg2 {
  background-image: url("../img/bgimage2.jpeg");
  min-height: 400px;
}

.pimg3 {
  background-image: url("../img/bgimage3.jpg");
  min-height: 400px;
}

.section {
  text-align: center;
  padding: 50px 80px;
}

.section-light {
  background-color: #f4f4f4;
  color: #666;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
}

@media (max-width: 568px) {
  .pimg1,
  .pimg2,
  .pimg3 {
    background-attachment: scroll;
  }
}
